.wrapper {
    width: 100%;
    position: relative;
    margin-top: 80px;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 70vh;
    max-width: 90%;
    margin: 6% auto;
    border: 2px solid #0d6087bb;
    padding: 2%;
}

.container h1 {
    font-size: 20px;
    color: #000;
    width: 100%;
    border-left: 2px solid #0d6087bb;
    letter-spacing: 1px;
    padding-left: 2%;
    margin: 2% 0%;
    line-height: 100%;
}

.container p {
    width: 100%;
    font-size: 16px;
    color: #000;
    text-align: justify;
    letter-spacing: 1px;
    padding: 1% 0%;
}

@media screen and (max-width:415px) {
    .container {
        margin: 22% auto;
    }
}
