.wrapper {
    width: 100%;
    position: relative;
    margin-top: 80px;
    overflow: hidden;
}

.banner {
    width: 100%;
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
}

.product {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.productpic {
    width: 32.9188%;
    display: inline-block;
}

.productpic .swiper-container {
    width: 100%;
}

.productpic img {
    width: 100%;
}

.productTxt {
    width: 50.0822%;
    display: inline-block;
    padding-top: 4%;
    margin-left: 3%;
}

.productTxt .content {
    width: 100%;
}

.productTxt h1 {
    font-size: 18px;
    color: #000;
}

.productTxt p {
    font-size: 16px;
    color: #000;
    padding: 1% 0%;
}

.productTxt .buttonArea {
    padding-top: 27.3%;
}

.productTxt .price {
    font-size: 16px;
    color: #000;
    padding-bottom: 2%;
}

.productTxt .button {
    width: 100%;
}

.productTxt button {
    font-size: 16px;
    padding: 1%;
    background-color: transparent;
    border: 2px solid #0d6087bb;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
}

.productTxt button:hover {
    background-color: #0d6087bb;
    color: #fff;
}

.productTxt .heart {
    width: 200px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4%;
    cursor: pointer;
}

.productTxt .heartimg {
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}

.productTxt .heartimg img {
    width: 100%;
}

.productTxt .heartTxt {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: justify;
    color: #000;
    padding-left: 5%;
}

.dashline {
    max-width: 90%;
    margin: 0 auto;
    padding: 2% 0%;
}

.dashtext {
    font-size: 25px;
    color: #000;
    vertical-align: middle;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #000;
    vertical-align: middle;
}

.FeatureArea {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 5%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.Featureimg {
    width: 100%;
    font-size: 0;
    padding-bottom: 2%;
}

.Featureimg img {
    width: 100%;
}